**/__pycache__/

cache/
out/
searchable_assets/

# Ignore everything in the extracted_assets/ directory
extracted_assets/*

# Allow the "example" directory
!extracted_assets/example/

# Allow files inside the "example" directory
extracted_assets/example/*
